.attachment {
    width: 1112px;
    height: 211px;
    flex-shrink: 0;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 20px;
}

.attachmentWrapper {
    padding: 30px;
    display: flex;
    flex-direction: column;

}

.attachmentWrapper>label {
    
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;

}

