
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1442px;
    height: 64px;
    background-color: #ffffff;
}

.brandName {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:16px;
    margin-left: 39px;
}
h3{
    display:inline-block;
    color: #14203A; 
    font-family: "Playfair Display";
    font-size: 32px;
    width: 141px;
    flex-shrink: 0;
}
.searchinput {
    padding: 0 20px;
    width: 571px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #EEF0F3;
    border: none;
}

.adminSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
    margin-right: 49px;
}

img{
    height: 44px;
    width: 44px;
}
.name {
    color: #0F1420;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.role{
    color: #0F1420;

font-family: "DM Sans";
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.search {
    width: 40px;
    height: 40px;
}